---
http_interactions:
- request:
    method: get
    uri: http://www.openaustralia.org/api/getHansard?key=FCSM5EBr95S4CTzZM3BQgApn&order=d&output=xml&search=asylum
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=iso-8859-1
      X-Pad:
      - avoid browser bug
      X-Url:
      - "/api/getHansard?key=FCSM5EBr95S4CTzZM3BQgApn&output=xml&search=asylum&order=d"
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="iso-8859-1"?>
        <result><info><s>asylum</s><results_per_page>20</results_per_page><page>1</page><total_results>20</total_results><first_result>1</first_result></info><searchdescription>containing the word 'asylum'</searchdescription><rows><match><gid>2014-07-09.137.4</gid><hdate>2014-07-09</hdate><htype>12</htype><major>101</major><section_id>449370</section_id><subsection_id>449371</subsection_id><relevance>60</relevance><speaker_id>100083</speaker_id><hpos>305</hpos><body>...&amp;#8212;the equal highest contribution by an Australian government. I note that Labor cut funding to the global fund by $10 million when it raided the aid budget to pay for the onshore processing of &lt;span class=&quot;hi&quot;&gt;asylum&lt;/span&gt; seekers. Australia has a long history of supporting HIV treatment and prevention. The Howard government committed $1 billion to curb the spread of HIV/AIDS. Australia is represented on...</body><listurl>/senate/?id=2014-07-09.136.2&amp;amp;s=asylum#g137.4</listurl><speaker><member_id>100083</member_id><title></title><first_name>Mitch</first_name><last_name>Fifield</last_name><house>2</house><constituency>Victoria</constituency><party>Liberal Party</party><person_id>10224</person_id><url>/senator/?m=100083</url><office><match><dept></dept><position>Assistant Minister for Social Services</position><pretty>Assistant Minister for Social Services</pretty></match><match><dept></dept><position>Manager of Government Business in the Senate</position><pretty>Manager of Government Business in the Senate</pretty></match></office></speaker><parent><body>Motions: International Development Assistance</body></parent></match><match><gid>2014-07-09.127.1</gid><hdate>2014-07-09</hdate><htype>12</htype><major>101</major><section_id>449325</section_id><subsection_id>449326</subsection_id><relevance>45</relevance><speaker_id>100256</speaker_id><hpos>270</hpos><body>I move: That the Senate take note of the answer given by the Minister for Employment (Senator Abetz) to a question without notice asked by Senator Hanson-Young today relating to &lt;spa[...]
