---
http_interactions:
- request:
    method: get
    uri: http://www.openaustralia.org/api/getRepresentative?id=10562&key=FCSM5EBr95S4CTzZM3BQgApn
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 19 May 2008 14:25:37 +1000
      Content-Type:
      - text/javascript; charset=iso-8859-1
      X-Url:
      - "/api/getRepresentative?key=FCSM5EBr95S4CTzZM3BQgApn&id=10562"
    body:
      encoding: UTF-8
      string: '[{"member_id":"459","house":"1","first_name":"Gordon","last_name":"Scholes","constituency":"Corio","party":"Australian
        Labor Party","entered_house":"1967-07-22","left_house":"1993-02-08","entered_reason":"by_election","left_reason":"retired","person_id":"10562","title":"","lastupdate":"2008-05-19
        14:25:37","full_name":"Gordon Scholes","name":"Gordon Scholes"}]'
  recorded_at: Sat, 19 Jul 2014 16:49:04 GMT
recorded_with: VCR 2.9.2
