---
http_interactions:
- request:
    method: get
    uri: http://www.openaustralia.org/api/getHansard?key=FCSM5EBr95S4CTzZM3BQgApn&order=d&output=xml&search=%7B%22topic%22=%3E%22NBN%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=iso-8859-1
      X-Pad:
      - avoid browser bug
      X-Url:
      - "/api/getHansard?key=FCSM5EBr95S4CTzZM3BQgApn&output=xml&search=%7B%22topic%22%3D%3E%22NBN%22%7D&order=d"
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="iso-8859-1"?>
        <result><info><s>&quot;NBN&quot;}</s><results_per_page>20</results_per_page><page>1</page><total_results>1336</total_results><first_result>1</first_result></info><searchdescription>containing the phrase &quot;nbn&quot;</searchdescription><rows><match><gid>2014-07-07.8.1</gid><hdate>2014-07-07</hdate><htype>12</htype><major>101</major><section_id>448348</section_id><subsection_id>448349</subsection_id><relevance>34</relevance><speaker_id>100156</speaker_id><hpos>8</hpos><body>...and references committees, including Foreign Affairs, Defence and Trade; Legal and Constitutional Affairs; and Environment and Communications. He has been on the Senate Select Committee on the &lt;span class=&quot;hi&quot;&gt;NBN&lt;/span&gt;, the joint standing committees on Treaties and Foreign Affairs, Defence and Trade, and of course the Select Committee on Cyber Safety. He has successfully represented this parliament overseas on...</body><listurl>/senate/?id=2014-07-07.3.2&amp;amp;s=%22NBN%22%7D#g8.1</listurl><speaker><member_id>100156</member_id><title></title><first_name>Christine</first_name><last_name>Milne</last_name><house>2</house><constituency>Tasmania</constituency><party>Australian Greens</party><person_id>10458</person_id><url>/senator/?m=100156</url></speaker><parent><body>Parliamentary Office Holders: President</body></parent></match><match><gid>2014-06-26.100.1</gid><hdate>2014-06-26</hdate><htype>12</htype><major>1</major><section_id>447806</section_id><subsection_id>447807</subsection_id><relevance>38</relevance><speaker_id>672</speaker_id><hpos>370</hpos><body>...worth of gross debt now and in this budget there are $200 billion of unfunded liabilities that do not even add up to that number. There is also $65 billion still to go on the construction of th[...]
- request:
    method: get
    uri: http://www.openaustralia.org/api/getHansard?key=FCSM5EBr95S4CTzZM3BQgApn&order=d&output=xml&page=2&search=%7B%22topic%22=%3E%22NBN%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=iso-8859-1
      X-Pad:
      - avoid browser bug
      X-Url:
      - "/api/getHansard?key=FCSM5EBr95S4CTzZM3BQgApn&output=xml&search=%7B%22topi[...]
[...]
