---
http_interactions:
- request:
    method: get
    uri: http://www.openaustralia.org/api/getRepresentatives?key=FCSM5EBr95S4CTzZM3BQgApn&output=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 14 Mar 2014 14:21:52 +1100
      Content-Type:
      - text/xml; charset=iso-8859-1
      X-Url:
      - "/api/getRepresentatives?key=FCSM5EBr95S4CTzZM3BQgApn&output=xml"
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="iso-8859-1"?>
        <result><match><member_id>6</member_id><house>1</house><first_name>Anthony</first_name><last_name>Albanese</last_name><constituency>Grayndler</constituency><party>Australian Labor Party</party><entered_house>1996-03-02</entered_house><left_house>9999-12-31</left_house><entered_reason>general_election</entered_reason><left_reason>still_in_office</left_reason><person_id>10007</person_id><title></title><lastupdate>2008-04-26 21:08:04</lastupdate><full_name>Anthony Albanese</full_name><name>Anthony Albanese</name><image>/images/mpsL/10007.jpg</image><office><match><moffice_id>76966</moffice_id><dept></dept><position>Shadow Minister for Infrastructure and Transport</position><from_date>2013-10-18</from_date><to_date>9999-12-31</to_date><person>10007</person><source></source></match><match><moffice_id>76967</moffice_id><dept></dept><position>Shadow Minister for Tourism</position><from_date>2013-10-18</from_date><to_date>9999-12-31</to_date><person>10007</person><source></source></match></office></match><match><member_id>13</member_id><house>1</house><first_name>Kevin</first_name><last_name>Andrews</last_name><constituency>Menzies</constituency><party>Liberal Party</party><entered_house>1991-05-11</entered_house><left_house>9999-12-31</left_house><entered_re[...]
