<div class="page-header">
  <h3>How to GovTroll.</h3>
</div>
<p>Hi, welcome to GovTroll. Here you'll find a handy guide for expressing yourself and being an effective, efficient Govtroller.</p>
<br>
<ul>
	<li>Firstly, stay classy. Remember, GovTroll supports Trolling for Good, not Trolling for Evil. Nothing turns politicians off like people being nasty and rude. So remember to explain clearly why you diasgree, and keep it above the belt - personal slurs make debates worse, not better.</li>
<li>Secondly, get informed. Take time to research and analyse the issues you care about. Opinions backed by hard facts and clear logic are harder to brush off.</li>
<li>Thirdly, try to say something nice if you can think of it - a little compliment will help make your chosen target take you more seriously. Constructive criticism is the best criticism.</li>
<li>Fourthly, get your friends involved. So encourage other potential govtrollers to join in and speak their minds too - two voices are better than one!</li>
</ul>

<br>
Check out this link with more detail:
<%= link_to "Bernard Keane’s guide to writing to Ministers", "http://www.crikey.com.au/2009/12/16/dont-waste-your-time-waste-theirs-a-guide-to-writing-to-ministers/", :target => "_blank" %>
