<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% unless user_signed_in? %>
      <ul>
       <%= link_to "Sign up", new_user_registration_path %> |
       <%= link_to "Sign in", new_user_session_path %>
       <%= link_to user_omniauth_authorize_path(:facebook), class:'btn-auth btn-facebook' do %>
          Sign in with <b>facebook</b>
        <% end %>
        <%= link_to user_omniauth_authorize_path(:twitter), class:'btn-auth btn-twitter' do %>
          Sign in with <b>twitter</b>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>
</div>